# Strings
In python, Strings are a sequence of unicode characters                                                                                                                                      
-Strings are immutable

In [1]:
# Creating strings

a='hello'
print(a)
type(a)

hello

str

In [2]:
# Accessing strings from a string

b="Hello all I am Sarthak Aggarwal"

print(b[3])      # prints 4th string
print(b[-4])     # orints last 4th string

l
r

In [3]:
# string slicing

print(b[2:16:2])    # [start index:end index:gap b/w index]

loalIa

In [4]:
print(b[::-1])      # it just reverse the string

lawraggA kahtraS ma I lla olleH

In [5]:
# editing and deleting 

del a

since, strings are immutable, so they can't be edited. only we can delete them completely

In [6]:
print(a)

NameError: name 'a' is not defined

# Operations in strings

In [7]:
# Arithmetic Operators

print("hello"+"world")
print("hello"+"-"+"world")
print("$"*20)

helloworld
hello-world
$$$$$$$$$$$$$$$$$$$$

In [8]:
#Relational Operators- based on Lexiographically( Dictionary mei jo word pehle aayega wo small hoga)

"hello"=="world"

False

In [9]:
"mumbai">"pune"

False

In [10]:
"absolute"<"yoyo"

True

In [11]:
# Logical Operators- "" -False        "hi"-True

"" and "hi"     # false and true-false

''

In [12]:
"" or "hi"      #false or true-true

'hi'

In [13]:
"hello" or "hi"    #prints where it gets true so hello

'hello'

In [14]:
"hello" and "hi"      # get true after hi

'hi'

In [15]:
# Loops on strings

c="helllo world"
for i in c[::-1]:
    print(i)

d
l
r
o
w

o
l
l
l
e
h

In [16]:
# Membership Operators

"hi" in c

False

In [17]:
"h" in c

True

# Escape characters
\t-tab              
\n-new line                   
\b-backspace               
\\-\

In [18]:
print("hello\tworld")
print("hello\nworld")
print("hello\bworld")
print("hello\\world")

hello	world
hello
world
helloworld
hello\world

# String Case Manipulative Function

In [19]:
Text="HiLo kAisO HO saB"

# string.lower()- Converts all letters to lowercase
print(Text.lower())

# string.upper()- Converts all letters to uppercase
print(Text.upper())

# string.title()- Converts all letters to titlecase
print(Text.title())

# string.capitalize()- Converts first letter to uppercase
print(Text.capitalize())

#string.swapcase()- Swaps the cases of all letters
print(Text.swapcase())

hilo kaiso ho sab
HILO KAISO HO SAB
Hilo Kaiso Ho Sab
Hilo kaiso ho sab
hIlO KaISo ho SAb

# Functions in string

In [20]:
# Count function- Counts how many time a specific string occur

Text="HiiKii"
print(Text.count("i"))

4

In [21]:
# find function- It prints the index number where that first string occur

Text.find("K")

3

In [22]:
# Join function- We can join string by using a unique separation

names=["Dhoni","Kohli","Rohit"]
sep= "---"
print(sep.join(names))

Dhoni---Kohli---Rohit

In [23]:
# Replace function- It replaces a string with another string

Text="Hii Guykz"
print(Text.replace("k","m"))

Hii Guymz

In [24]:
# split function- It Splits specific part of a string and put them in a list

name="anna,john,mary"
print(name.split(","))

['anna', 'john', 'mary']